section#PageDefault{
    margin-top: 60px;
    background-color: #E5E5E5;
    width: 130vh;
    height: auto;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
    box-shadow: black;
}


section#PageDefault a#Logo{
    margin: 0 25px;
    width: auto;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
img {
    margin-bottom: 25px;
    height: 100px;
    left: 0px;
}
section#content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

